stages:
  - test
  - build
  - deploy

run_unit_tests_py27:
  stage: test
  image: python:2.7-slim
  script:
    - pip install -q tox
    - tox -e py27
  tags:
    - docker

run_unit_tests_py36:
  stage: test
  image: python:3.6-slim
  script:
    - pip install -q tox
    - tox -e py36
  tags:
    - docker

build_python_package:
  stage: build
  image: registry.umiacs.umd.edu/docker/build/umbuild:rhel7
  script:
    - make sdist
  artifacts:
    expire_in: 1hr
    paths:
      - dist/
  only:
    - tags
  tags:
    - docker

build_rpm_rhel6:
  stage: build
  image: registry.umiacs.umd.edu/docker/build/umbuild:rhel6
  script:
    - make rpm PYTHON=python
    - mkdir -p dist/rhel6
    - cp /srv/build/rhel6/RPMS/noarch/$CI_PROJECT_NAME-$CI_COMMIT_TAG-1.noarch.rpm dist/rhel6/$CI_PROJECT_NAME-$CI_COMMIT_TAG-1.noarch.rpm
  artifacts:
    expire_in: 1hr
    paths:
      - dist/
  only:
    - tags
  tags:
    - docker

build_rpm_rhel7:
  stage: build
  image: registry.umiacs.umd.edu/docker/build/umbuild:rhel7
  script:
    - make rpm PYTHON=python
    - mkdir -p dist/rhel7
    - cp /srv/build/rhel7/RPMS/noarch/$CI_PROJECT_NAME-$CI_COMMIT_TAG-1.noarch.rpm dist/rhel7/$CI_PROJECT_NAME-$CI_COMMIT_TAG-1.noarch.rpm
  artifacts:
    expire_in: 1hr
    paths:
      - dist/
  only:
    - tags
  tags:
    - docker

build_rpm_rhel8:
  stage: build
  image: registry.umiacs.umd.edu/docker/build/umbuild:rhel8
  script:
    - make rpm PYTHON=python2
    - mkdir -p dist/rhel8
    - cp /srv/build/rhel8/RPMS/noarch/$CI_PROJECT_NAME-$CI_COMMIT_TAG-1.noarch.rpm dist/rhel8/$CI_PROJECT_NAME-$CI_COMMIT_TAG-1.noarch.rpm
  artifacts:
    expire_in: 1hr
    paths:
      - dist/
  only:
    - tags
  tags:
    - docker

upload_umpypi_pypi:
  stage: deploy
  image: python:3.6-slim
  script:
    - pip install -q twine
    - twine upload --repository-url $UMPYPI_REPOSITORY_URL -u $UMPYPI_USERNAME -p $UMPYPI_PASSWORD dist/$CI_PROJECT_NAME-$CI_COMMIT_TAG.tar.gz
    - twine upload -u $PYPI_USERNAME -p $PYPI_PASSWORD dist/$CI_PROJECT_NAME-$CI_COMMIT_TAG.tar.gz
  when: manual
  only:
    - tags
  tags:
    - docker
  dependencies:
    - build_python_package

.deploy_rpm_template: &deploy_rpm_definition
  stage: deploy
  image: registry.umiacs.umd.edu/docker/build/umbuild:$DISTRO
  script:
    - sudo cp "dist/$DISTRO/$CI_PROJECT_NAME-$CI_COMMIT_TAG-1.noarch.rpm" /srv/UMyumrepos/$DISTRO/stable/Packages/noarch
    - sudo createrepo --workers=4 /srv/UMyumrepos/$DISTRO/stable
  when: manual
  only:
    - tags
  tags:
    - umrepos
    - docker

deploy_rpm_rhel6:
  <<: *deploy_rpm_definition
  variables:
    DISTRO: rhel6
  dependencies:
    - build_rpm_rhel6

deploy_rpm_rhel7:
  <<: *deploy_rpm_definition
  variables:
    DISTRO: rhel7
  dependencies:
    - build_rpm_rhel7

deploy_rpm_rhel8:
  <<: *deploy_rpm_definition
  variables:
    DISTRO: rhel8
  dependencies:
    - build_rpm_rhel8
